---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"62964-b8-557967be98393"'
      Last-Modified:
      - Fri, 25 Aug 2017 16:31:59 GMT
      X-Iinfo:
      - 9-18010857-17987862 2NNN RT(1503678730205 143) q(0 0 0 -1) r(2 2)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "4445.09", "last": "4430.00", "timestamp": "1503678718", "bid":
        "4427.00", "vwap": "4311.16", "volume": "9703.38924092", "low": "4185.67",
        "ask": "4430.00", "open": "4308.80"}'
  recorded_at: Fri, 25 Aug 2017 16:32:06 GMT
recorded_with: VCR 2.6.0
